<!DOCTYPE html>	
<html>
<head>
<meta charset = "UTF-8"
name = "viewport"
content = "width = device-width,initial-scale = 1">
<title>EstudeCon</title>
<link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image:url('clouds.jpg')">
<nav>
<div class="w3-bar w3-large w3-light-grey">
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Home.html" class="w3-bar-item w3-button w3-#ff0000" target="_blank">Home</a>
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Matematica.html" class="w3-bar-item w3-button w3-#ff0000" target="_blank">Matemática</a>
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Fisica.html" class="w3-bar-item w3-button w3-#ff0000" target="_blank">Física</a>
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Quimica.html" class="w3-bar-item w3-button w3-#ff0000">Química</a>
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Portugues.html" class="w3-bar-item w3-button w3-#ff0000" target="_blank">Português</a>
<a href="file:///C:/Users/Artur/Documents/P.I%20III/Ingles.html" class="w3-bar-item w3-button w3-#ff0000" target="_blank">Inglês</a>
<a href="$" class="w3-bar-item w3-button" target="_blank">Iniciar sessão/Cadastro</a>

<a href="$" class="w3-bar-item w3-col" style="width:20%;height:10%;float:right;">
<img src="C:\Users\Artur\Pictures\ezio.jpg" alt="ezio" style="width:10%;height=10%;">
</a>
</nav>
<pre><h1> Múltiplos e divisores</h1>
 Dizemos que um número é múltiplo de outro quando o 
 primeiro é resultado da multiplicação entre o segundo 
 e algum número natural. Nesse mesmo caso, também é 
 possível dizer que o segundo é divisor do primeiro.
 Em outras palavras, pode-se dizer que um número multiplicado
 por um múltiplo seu resultará em um divisor.
 <a href='https://brasilescola.uol.com.br/matematica/multiplos-divisores.htm' target='blank'>Ler mais</a>
 Exemplos:

    2 x 4 = 8
    Neste caso, temos que 8 é múltiplo de 2, e por isso
    podemos dizer que 2 é divisor de 8
</pre>