<!DOCTYPE html>
<html>
<head>

<meta charset = "UTF-8"
name = "viewport"
content = "width = device-width,initial-scale = 1">
<title>Site P.I</title>
<link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav>
	<div class="w3-bar w3-large w3-light-grey w3-border">
	<a href="#" class="w3-bar-item w3-button w3-#ff0000"><i class="w3-small fa fa-home"></i></a>
	<a href="file:///C:/Users/Artur/Documents/P.I%20III/Matematica.html#Topo" target="_blank">Matemática</a>
	<a href="file:///C:/Users/Artur/Documents/P.I%20III/Fisica.html#Topo1" target="blank">Física</a>
	<a href="file:///C:/Users/Artur/Documents/P.I%20III/Quimica.html#Topo2" target="blank">Química</a>
</nav>

  
    
  
</div>
<div class="w3-display-container">
  <img src="656714.jpg" class="w3-round" width="1280" height="883" alt="GENOS-SAMA">
  <div class="w3-container w3-white">
	<div class="w3-display-middle w3-large">Top Left
  </div>
</div>

</body>